<!-- Page Content -->
<div class="container">

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Latest Report</h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Projects Row -->
  <% @reports.each_with_index { |report, idx| %>
      <% if idx % 3 == 0 then %><div class="row"><% end %>
          <div class="col-lg-4 portfolio-item">
            <div><%= image_tag(report.image.report.thumb.url, :style => "width:100%") %></div>
            <div>
              <h3><%= report.title.truncate(30) %></h3>
            </div>
            <div>
            <%= link_to '', report %>
            <p><%= report.content.truncate(100) %></p>
            <p><%= report.spot.name if report.spot %>(<%= report.spot.city.name if report.spot %>)</p>
            <p>
              <span><%= image_tag(report.user.icon_image_url, :class => "img-circle", :width => 30, :height => 30) %></span>
              <span><%= report.user.name %></span>
              <span class="pull-right"><%= report.updated_at.strftime("%Y-%m-%d") %></span>
            </p>
            </div>
          </div>
      <% if idx % 3 == 2 then %></div><% end %>
  <% } %>
  <% if @reports.count % 3 != 0 %></div><% end %>
  <!-- /.row -->

  <hr>

  <!-- Pagination -->
  <div class="row text-center">
    <div class="col-lg-12">
      <%= paginate @reports %>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->