<!-- Page Content -->
<div class="container-narrow">

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= @report.title %></h1>
    </div>
  </div>
  <!-- /.row -->

  <p>
    <%= image_tag @report.image.url(:report, :normal), :style => "width:100%" %><br>
  </p>

  <p>
    <%= @report.content %>
  </p>

  <p>
    <%= @report.spot.name if @report.spot %>(<%= @report.spot.city.name if @report.spot %>)<br>
    <%= @report.spot.display_address if @report.spot %><br>
    <%= @report.spot.yelp_url if @report.spot %><br>
  </p>


</div>
<!-- /.container -->