<!-- Page Content -->
<div class="container">

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Show Report</h1>
    </div>
  </div>
  <!-- /.row -->

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @report.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @report.content %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= image_tag @report.image.url %><br>
  </p>

  <%= link_to 'Edit', edit_report_path(@report) %> |
  <%= link_to 'Back', reports_path %>

</div>
<!-- /.container -->